<section class="view about">
	<h2 class="title">Quem Somos</h2>
	<img src="images/about/video.jpg" alt="video" class="video">
	<p>Há mais de 10 anos, A AZ Life trabalha com as melhores soluções de automação do mercado. Somos especialistas, por exemplo, na KNX, sistema líder na Europa. Temos uma equipe capacitada e preparada para levar até a sua casa ou escritório tecnologia de ponta que vai facilitar a sua vida. E gerar economia.</p>
	<p>Um dos nossos grandes diferenciais está no atendimento. O time AZ Life está totalmente comprometido com o sucesso do projeto e tem experiência de sobra para propor soluções de automação sob medida para as necessidades de cada cliente. Estudamos caso a caso e apresentamos ideias, conceitos e valores, sempre com a mais alta qualidade.</p>
	<p>Fale com a gente! Teremos enorme prazer em atendê-lo.</p>
	<a href="#" title="entre em contato" class="btn">Entre em contato</a>
</section>
