<section class="view blog">
  <article class="blog_wrapper">
    <h2 class="title">Blog <a href="#" class="see_all">ver todos ></a></h2>
    <ul class="posts_list">
      <li class="post">
        <img src="images/blog/post1/capa.jpg" class="capa" alt="post">
        <img src="images/blog/energy.png" class="type" alt="for energy">
        <h2 class="post_title">O QUE é automação residencial?</h2>
        <p class="post_desc">Suspendisse fringilla porttitor fermentum. Donec posuere eleifend orci...</p>
        <a href="#" title="ler mais" class="btn">ler mais</a>
      </li>
    </ul>
  </article>
</section>
