<section class="view cases">
	<h2 class="title">Cases <a href="#" class="see_all">ver todos ></a></h2>
  <ul class="cases_list">
    <li class="case corporate">
      <img src="images/cases/siegen.jpg" alt="case" class="case_image">
      <h3 class="case_title">Siegen</h3>
      <p class="case_type"><strong>AZ</strong>corp</p>
      <div class="case_info">
        <p class="case_desc">Curabitur at diam interdum, elementum nisl eget, rutrum odio. Integer pharetra risus enim, vel dapibus risus posuere nec. Praesent feugiat velit et finibus pulvinar.</p>
      </div>
    </li>
    <li class="case home">
      <img src="images/cases/casa-cor.jpg" alt="case" class="case_image">
      <h3 class="case_title">casa cor 2016 jóia bergamo</h3>
      <p class="case_type"><strong>AZ</strong> home</p>
      <div class="case_info">
        <p class="case_desc">Curabitur at diam interdum, elementum nisl eget, rutrum odio. Integer pharetra risus enim, vel dapibus risus posuere nec. Praesent feugiat velit et finibus pulvinar.</p>
      </div>
    </li>
    <li class="case energy">
      <img src="images/cases/nelson-piquet.jpg" alt="case" class="case_image">
      <h3 class="case_title">nelson piquet</h3>
      <p class="case_type"><strong>AZ</strong>energy</p>
      <div class="case_info">
        <p class="case_desc">Curabitur at diam interdum, elementum nisl eget, rutrum odio. Integer pharetra risus enim, vel dapibus risus posuere nec. Praesent feugiat velit et finibus pulvinar.</p>
      </div>
    </li>
    <li class="case home">
      <img src="images/cases/gafisa.jpg" alt="case" class="case_image">
      <h3 class="case_title">Gafisa</h3>
      <p class="case_type"><strong>AZ</strong> home</p>
      <div class="case_info">
        <p class="case_desc">Curabitur at diam interdum, elementum nisl eget, rutrum odio. Integer pharetra risus enim, vel dapibus risus posuere nec. Praesent feugiat velit et finibus pulvinar.</p>
      </div>
    </li>
  </ul>
</section>
