<section class="view clients">
  <h2 class="title">Clientes</h2>
	<p>Ao longo de nossa jornada atendemos os mais variados perfis de cliente, oferecendo soluções customizadas de automação. Veja algumas marcas com as quais trabalhamos, e que nos enchem de orgulho.</p>
  <ul class="clients_list">
    <li class="client" id="ipiranga">ipiranga</li>
    <li class="client" id="joia-bergamo">joia-bergamo</li>
    <li class="client" id="gafisa">gafisa</li>
    <li class="client" id="hcor">hcor</li>
    <li class="client" id="cyrela">cyrela</li>
    <li class="client" id="tecnisa">tecnisa</li>
    <li class="client" id="red-bull">red-bull</li>
    <li class="client" id="pao-de-acucar">pao-de-acucar</li>
    <li class="client" id="casa-cor">casa-cor</li>
    <li class="client" id="iguatemi">iguatemi</li>
  </ul>
</section>
