<section class="highlights">
	<article class="highlights_wrapper">
		<h2 class="hl_title">O Futuro é Agora</h2>
		<p class="desc">Oferecemos o que existe de mais moderno quando o assunto é automação residencial e corporativa</p>
		<a href="#" class="more">Saiba Mais ></a>

		<div class="casa">
			<p class="info">Há 4 anos particioante da</p>
			<img src="images/highlights/casacor.png" alt="Casa Cor">
			<a href="#" class="btn_more">Conheça <strong>AZ</strong></a>
		</div>

		<div class="register">
			<p class="register_info">Cadastre-se para receber novidades tecnólogicas</p>
			<form action="#" class="register_form">
				<input type="text" class="register_input" placeholder="Seu e-mail aqui">
				<input type="submit" class="register_submit" value="Cadastrar">
			</form>
		</div>
	</article>
</section>
