<section class="view solutions">
  <h2 class="title">Soluções</h2>
  <ul class="solutions_list">
    <li class="solution corporativo">
      <h3 class="solution_title">Tecnologia Corportativa</h3>
      <a href="#" class="btn solution_link" title="conheça">conheça</a>
    </li>
    <li class="solution residencial">
      <h3 class="solution_title">Tecnologia Residencial</h3>
      <a href="#" class="btn solution_link" title="conheça">conheça</a>
    </li>
    <li class="solution sustentavel">
      <h3 class="solution_title">Tecnologia Sustentavel</h3>
      <a href="#" class="btn solution_link" title="conheça">conheça</a>
    </li>
  </ul>

  <section class="details">    
    <article class="corporate">
      <img class="case_logo" src="images/cases/logo-corporate.png" alt="azlife for Corporate">
      <h2 class="case_title">Economia, conforto e a sofisticação que a sua empresa merece.</h2>
      <ul class="case_list">
        <li>Iluminação</li>
        <li>Áudio e Vídeo</li>
        <li>Climatização</li>
        <li>Arquitetura de rede</li>
        <li>Biometria</li>
        <li>Câmeras</li>
        <li>Alarme</li>
      </ul>
      <a href="#" title="saber mais" class="btn">Saber mais</a>
    </article>

    <article class="home">
      <img class="case_logo" src="images/cases/logo-home.png" alt="azlife for Home">
      <h2 class="case_title">Automação residencial</h2>
      <ul class="case_list">
        <li>Cinema</li>
        <li>Áudio e Vídeo</li>
        <li>Iluminação</li>
        <li>Aspiração central</li>
        <li>Climatização</li>
        <li>Fechaduras inteligentes</li>
        <li>Arquitetura de redes</li>
      </ul>
      <a href="#" title="saber mais" class="btn">Saber mais</a>
    </article>

    <article class="energy">
      <img class="case_logo" src="images/cases/logo-energy.png" alt="azlife for Energy">
      <h2 class="case_title">Eficiência energética</h2>
      <ul class="case_list">
        <li>Gestão de energia</li>
        <li>Carregador de carros elétricos</li>
        <li>Placas solares</li>
        <li>Sensor de ocupação</li>
      </ul>
      <a href="#" title="saber mais" class="btn">Saber mais</a>
    </article>
  </section>
</section>
