<section class="view solutions">
  <h2 class="title">Soluções</h2>
  <ul class="solutions_list">
    <li class="solution corporativo">
      <h3 class="solution_title">Tecnologia Corportativa</h3>
      <a href="#" class="btn solution_link" title="conheça">conheça</a>
    </li>
    <li class="solution residencial">
      <h3 class="solution_title">Tecnologia Residencial</h3>
      <a href="#" class="btn solution_link" title="conheça">conheça</a>
    </li>
    <li class="solution sustentavel">
      <h3 class="solution_title">Tecnologia Sustentavel</h3>
      <a href="#" class="btn solution_link" title="conheça">conheça</a>
    </li>
  </ul>
</section>
