@import 'variables';

.about {
  .video {
    margin: 25px -25px 0;
    width: 100vw;
  }

  @media @desktop {
    > p {
      max-width: 500px;
    }

    .video {
      float: right;
      margin: 0;
      width: auto;
    }
	}
}
