@import 'colors';
@import 'variables';

header {
  width: 100%;

  .info {
    display: none;
    background-color: @cornflowerBlue;
    color: @white;
    font-family: 'quicksandbook';
    font-size: 12px;
    line-height: 36px;
    text-align: right;
    padding: 0 4vw;

    .info_contact {
      margin-top: 0;
    }
  }

  .menu {
    background-color: @white;
    font-size: 0;
    text-align: right;
    padding: 13px 26px;
    position: relative;
  }

  .hamburger {
    background: none;
    display: inline-block;
    border: 0;
    border-top: 5px solid @cornflowerBlue;
    border-bottom: 5px solid @cornflowerBlue;
    vertical-align: top;
    margin: 0;
    width: 30px;

    &:before {
      background: @cornflowerBlue;
      content: "";
      display: block;
      height: 5px;
      margin: 5px 0;
    }
  }

  .logo {
    float: left;
    margin: 0;
    width: 110px;
  }

  .links {
    display: none;
    background: @white;
    list-style: none;
    position: absolute;
    top: 51px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 2;

    .link + .link {
      border-top: 1px solid @wildSand;
    }

    .link_anchor {
      cursor: pointer;
      color: @doveGray;
      font-family: 'quicksandbold';
      font-size: 18px;
      line-height: 40px;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  .search {
    display: inline-block;
    vertical-align: top;
    margin: 0 18px 0 0;
    padding: 0;
    width: 25px;
    height: 25px;
    box-sizing: content-box;
    position: relative;

    .serach_button {
      background: url('../images/ico-search.png') no-repeat 0 0;
      border: 0;
      cursor: pointer;
      width: 25px;
      height: 25px;
      overflow: hidden;
      text-indent: -999px;
    }
  }

  .search_form {
    display: none;
    background: @white;
    right: 0;
    top: 70px;
    padding: 10px;
    position: absolute;
    width: 100%;
    z-index: 9;

    .search_input {
      border: 1px solid @wildSand;
      color: @doveGray;
      font-family: 'quicksandbook';
      font-size: 14px;
      line-height: 20px;
      padding: 0 5px;
    }
  }

  @media @tablet {
    .hamburger {
      margin: 14px 4vw;
    }

    .search {
      margin: 8px 4vw;
    }
  }

  @media @desktop {
    position: relative;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5);
    z-index: 1;

    .info {
      display: block;
      padding: 0;

      .info_contact {
        font-size: 18px;
        max-width: 1220px;
        margin: 0 auto;
      }
    }

    .menu {
      max-width: 1220px;
      margin: 0 auto;
      text-align: right;
      padding: 20px 0;
    }

    .hamburger {
      display: none;
    }

    .logo {
      float: left;
      width: auto;
    }

    .links {
      display: inline-block;
      font-size: 0;
      position: relative;
      top: 0;
      width: auto;

      .link {
        display: inline-block;

        + .link {
          border-top: 0;
          margin-left: 35px;
        }
      }

      .link_anchor {
        font-size: 13px;
        line-height: 53px;
      }
    }

    .search {
      border: 1px solid @wildSand;
      cursor: pointer;
      display: inline-block;
      margin: 3px 0 0 4vw;
      padding: 10px;
      width: auto;

      .serach_button {
        color: @doveGray;
        font-size: 14px;
        padding-left: 43px;
        text-indent: inherit;
        text-transform: uppercase;
        width: auto;
      }
    }
  }
}
