@import 'colors';
@import 'variables';

.highlights {
  background: url('../images/highlights/m-bg.jpg') no-repeat 0 0;
  background-size: cover;
  min-height: 320px;
  padding: 20px;
  padding-bottom: 110px;
  position: relative;

  .hl_title {
    color: @white;
    font-family: 'quicksandbold';
    font-size: 30px;
    text-transform: uppercase;
  }

  .desc {
    color: @white;
    font-family: 'quicksandbook';
    font-size: 15px;
    margin-top: 10px;
  }

  .more {
    color: @white;
    display: block;
    font-family: 'quicksandbold';
    font-size: 20px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: underline;
  }

  .casa {
    margin-top: 40px;

    .info {
      color: @white;
      font-family: 'quicksandbold';
      font-size: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    >img {
      margin-top: 5px;
    }

    .btn_more {
      background: url('../images/highlights/arrow.png') no-repeat 200px center @cornflowerBlue;
      color: @white;
      display: block;
      font-size: 22px;
      font-family: 'quicksandlight';
      line-height: 57px;
      margin-top: 15px;
      text-decoration: none;
      text-transform: uppercase;
      padding: 0 15px;
      width: 227px;

      strong {
        font-family: 'quicksandbold';
      }
    }
  }

  .register {
    background: @cornflowerBlue;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;

    .register_info {
      background: url('../images/highlights/register_arrow.png') no-repeat 5px 6px;
      background-size: 5%;
      color: @white;
      font-family: 'quicksandbook';
      font-size: 3.2vw;
      line-height: 30px;
      margin: 0;
      padding-left: 30px;
      border-bottom: 1px solid @white;
    }

    .register_form {
      overflow: hidden;
    }

    .register_input {
      background: @white;
      font-size: 14px;
      font-family: 'quicksandbook';
      color: @doveGray;
      padding: 5px;
      margin-top: 4px;
      margin-left: 4px;
      width: 60.5%;
    }

    .register_submit {
      background: url('../images/highlights/arrow.png') no-repeat 32vw center @cornflowerBlue;
      background-size: 3vw;
      border: 0;
      border-left: 1px solid @white;
      color: @white;
      font-size: 4vw;
      font-family: 'quicksandbook';
      line-height: 40px;
      text-transform: uppercase;
      width: 37%;
      text-align: left;
      padding-left: 7px;
    }
  }

  @media @desktop {
    background: url('../images/highlights/bg.jpg') no-repeat center -50px;
    background-size: cover;
    min-height: 1040px;
    padding: 0;

    .highlights_wrapper {
      margin: 0 auto;
      max-width: 1220px;
      padding-top: 240px;
    }

    .hl_title {
      font-size: 60px;
      text-transform: uppercase;
    }

    .desc {
      font-size: 30px;
      max-width: 600px;
    }

    .more {
      font-size: 24px;
      margin-top: 40px;
    }

    .casa {
      margin-top: 100px;

      .info {
        font-size: 18px;
        letter-spacing: 2px;
      }

      >img {
        margin-top: 10px;
      }
    }

    .register {
      background: @cornflowerBlue;
      font-size: 0;
      position: relative;
      margin-top: 174px;

      .register_info {
        background-position: 10px center;
        background-size: inherit;
        border-bottom: 0;
        display: inline-block;
        font-size: 18px;
        line-height: 70px;
        margin: 0;
        padding-left: 54px;
        vertical-align: top;
      }

      .register_form {
        display: inline-block;
      }

      .register_input {
        background: @white;
        font-size: 18px;
        padding: 12px 15px;
        margin-top: 10px;
        margin-left: 20px;
        width: 460px;
      }

      .register_submit {
        background-position: right center;
        background-size: inherit;
        font-size: 18px;
        line-height: 70px;
        margin-left: 30px;
        text-align: left;
        padding-left: 25px;
        width: 180px;
      }
    }
  }
}
