@import 'colors';
@import 'fonts';
@import 'variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.view {
	margin-top: 80px;
	padding: 0 25px;

	@media @desktop {
		max-width: 1220px;
		margin: 230px auto 0;
		padding: 0;
	}
}

.title {
	color: @doveGray;
	font-family: 'quicksandbook';
	font-size: 35px;
	opacity: .7;
	text-transform: uppercase;

	.see_all {
		color: @doveGray;
		display: block;
		font-size: 20px;
		letter-spacing: 4px;
		margin-top: 10px;
		text-decoration: underline;
	}

	@media @desktop {
		letter-spacing: 3px;
		font-size: 62px;

		.see_all {
			font-size: 20px;
			letter-spacing: 4px;
			text-decoration: underline;
			display: inline-block;
		}
	}
}

p {
	display: block;
	font-size: 12px;
	font-family: 'quicksandbook';
	margin-top: 20px;

	@media @desktop {
		font-size: 20px;
	}
}

.btn {
	background: url('../images/highlights/arrow.png') no-repeat 200px center @cornflowerBlue;
	color: @white;
	display: block;
	font-size: 15px;
	font-family: 'quicksandlight';
	line-height: 50px;
	margin-top: 20px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 15px;
	width: 227px;

	@media @desktop {
		background-position: 230px center;
		padding: 0 35px;
		width: 265px;
	}
}
