@import 'colors';
@import 'fonts';
@import 'variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.view {
	margin-top: 60px;
	padding: 0 10px;

	@media @desktop {
		max-width: 1220px;
		margin: 230px auto 0;
		padding: 0;
	}
}

.title {
	color: @doveGray;
	font-family: 'quicksandbook';
	font-size: 30px;
	letter-spacing: 3px;
	opacity: .7;
	text-transform: uppercase;

	@media @desktop {
		font-size: 62px;
	}
}

p {
	display: block;
	font-size: 14px;
	font-family: 'quicksandbook';
	margin-top: 20px;

	@media @desktop {
		font-size: 20px;
	}
}

.btn {
	background: url('../images/highlights/arrow.png') no-repeat 200px center @cornflowerBlue;
	color: @white;
	display: block;
	font-size: 15px;
	font-family: 'quicksandlight';
	line-height: 50px;
	margin-top: 20px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 15px;
	width: 227px;

	@media @desktop {
		background-position: 230px center;
		padding: 0 35px;
		width: 265px;
	}
}
